$border: 1px solid #424242;

#TodoFilterTable {
	display: flex;
	height: 100%;
	margin-top: 20px;

	.TodoFilterColumn {
		flex-grow: 1;
		text-align: center;
		height: 100%;
		border: $border;
		border-right: none;

		&:last-child { border-right: $border; }

		.TodoFilterHeader {
			padding: 20px;
			font-size: 20px;
			border-bottom: $border;
			background-color: #eeeeee;
		}

		.TodoFilterBody {
			display: flex;
			flex-direction: column;
			align-items: center;

			.TodoListItem {
				width: 300px;
				margin-top: 20px;

				&:last-child { margin-bottom: 20px; }
			}
		}
	}
}